* {
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2500px;
    margin-right: 0 !important
}

/*Start Navbar Section*/
nav .logo a {
    color: #1c2023;
    font-family: font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 35px;
    font-weight: bold;
    font-family: cursive;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

nav .nav-item {
    color: rgba(255, 255, 255, .7);
    font-size: 20px;
    font-weight: 500;
}

/*End Navbar Section*/

/*Start Header Section*/

header {
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, .8) 0, rgba(92, 77, 66, .8) 100%), url(https://blackrockdigital.github.io/startbootstrap-creative/img/bg-masthead.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    margin: 0 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header .row {
    height: 640px;
    align-items: center;
}

header .hr {
    width: 60px;
    height: 3px;
    background: #f4623a;
    margin: 20px;
    display: inline-block
}

header .contant p {
    font-size: 20px;
    opacity: 75%;
    font-family: Merriweather, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header .contant a {
    padding: 16px 30px;
    background: #f4623a;
    font-size: 18px;
    border-radius: 50px;
    background: #f4623a;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none
}

/*End Header Section*/

/*Start About Section*/
.about {
    height: 501px;
    background: #f4623a;
}

.about .content {
    margin-top: 150px
}

.about .content h2 {
    font-size: 32px;
}

.about .content a {
    margin-top: 30px !important;
    padding: 15px 25px;
    background: #FFF;
    border-radius: 50px;
    color: #212529;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.about .content a:hover {
    background: #e2e6ea
}

/*End About Section*/

/*Start Services Section*/
.servces .row {
    margin-top: 50px
}

.servces .row h2 {
    margin: 35px 0;
    color: #212529;
    font-size: 32px
}

.servces .row .hr {
    width: 60px !important;
    height: 3px;
    background: #f4623a;
    margin: 20px;
    display: inline-block
}

article i {
    font-size: 65px;
    color: #f4623a !important;
    margin-bottom: 20px
}

/*End Services Section*/

/*Start Portfolio Section*/

.portfolio {
    margin-top: 100px
}

.portfolio article {
    width: 450px;
    height: 200px;
    padding: 0 !important
}

.portfolio article img {
    width: 100%;
    height: 100%
}

.portfolio .download {
    height: 378px;
    top: 0;
    background: #343a40
}

.portfolio .download h2 {
    margin-top: 130px
}

.portfolio .download a {
    padding: 15px 25px;
    border-radius: 50px;
    background: #FFF;
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    margin-top: 15px;
    text-decoration: none
}
.portfolio article{
    position: relative;
    
    transition: all 1s ease-out
}
.portfolio .a-1{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    z-index: 55;
    margin-top: -200px;
    display:none;
    background: rgba(244,98,58,.9);
    transition: all 1s ease-out
    
}
#a-1:hover .a-1{
    display: block;
}
.portfolio .a-2{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    z-index: 55;
    margin-top: -200px;
    display:none;
    background: rgba(244,98,58,.9);
    
}
#a-2:hover .a-2{
    display: block;
    transition: all 5s 
}
.portfolio .a-3{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    z-index: 55;
    margin-top: -200px;
    display:none;
    background: rgba(244,98,58,.9);
    
}
#a-3:hover .a-3{
    display: block;
}
.portfolio .a-4{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    z-index: 55;
    margin-top: -200px;
    display:none;
    background: rgba(244,98,58,.9);
    
}
#a-4:hover .a-4{
    display: block;
}
.portfolio .a-5{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    z-index: 55;
    margin-top: -200px;
    display:none;
    background: rgba(244,98,58,.9);
    
}
#a-5:hover .a-5{
    display: block;
}
.portfolio .a-6{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    z-index: 55;
    margin-top: -200px;
    display:none;
    background: rgba(244,98,58,.9);
    transition:all .25s ease;
}
#a-6:hover .a-6{
    display: block;
}
/*End Portfolio Section*/
/*Start Cotact Section*/
.contact {
    padding: 150px 0px
}

.contact .head h2 {
    margin-bottom: 20px
}

.contact .head p {
    padding-bottom: 20px
}

.contact .cont i {
    font-size: 48px;
    color: #6c757d
}

.contact .cont a {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #f4623a;
    font-weight: 300
}

.contact .cont p {
    margin-top: 20px;
    color: #212529;
    font-size: 18px
}

/*Start Footer Section*/
footer .row {
    padding: 35px 0;
    background: #f8f9fa;
    color: #212529
}
