* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;

}

.clear {
    clear: both
}

.container {
    width: 1140px;
    margin: auto
}

/* Start Header */
.top-header {
    background: #071e33;
    height: 43px;
}

.top-header .contact {
    width: 37%;
    height: 43px;
    float: left
}

.top-header .contact .maill {
    line-height: 43px;
    width: 58%;
    float: left
}

.top-header .contact .maill i {
    font-weight: 100;
    line-height: 43px;
    color: #00b1e4;
    font-size: 10x;
}

.top-header .contact .maill a {
    text-decoration: none;
    color: #acacac;
    margin-left: 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    padding-right: 35px;
    border-right: 1px solid #e9e9e947
}

.top-header .contact .maill a:hover {
    color: #00b1e4;
    transition: 0.5s;
}

.top-header .contact .phone {
    float: left;
    margin-left: 15px
}

.top-header .contact .phone i {
    line-height: 43px;
    color: #00b1e4;
    font-size: 10x;
}

.top-header .contact .phone span {
    color: #acacac;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    padding-left: 5px
}

.top-header .social {
    float: right;
    height: 43px
}

.top-header .social a {
    text-decoration: none;
    padding: 0 15px;

    border-right: 0.5px solid #e9e9e947
}

.top-header .social i {
    font-weight: 100;
    line-height: 43px;
    color: #00b1e4;
    font-size: 8x;
    color: #00b1e4;
}

.top-header .social i:hover {
    color: #FFF;
    transition: 0.5s;
}

/* End Top Header*/
menu {
    height: 84px;
    background: #FFF;
    position: sticky;
    top: 0px;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
    z-index: 888
}

menu .menu #name {
    font-size: 36px;
    text-decoration: none;
    color: #00b1e4;
    line-height: 84px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold
}

menu .menu #name span {
    color: #071e33
}

menu .menu ul {
    float: right;
}

menu .menu ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 84px
}

menu .menu ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #555
}

menu .menu ul li a:hover {
    color: #00b1e4;
    transition: 0.5s;
}

/*End Menu*/

header .banner {
    background-image: url(https://webthemez.com/demo/fortune-business-bootstrap-html-website-template/img/intro-carousel/1.jpg);
    height: 70vh;
    background-size: cover;
    padding-top: 45px
}

header .banner h1 {
    font-size: 66px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #071e33;
    margin-top: 85px;
    margin-left: 87px
}

header .banner p {
    margin-top: 5px;
    color: #071e33;
    font-size: 28px;
    padding-bottom: 25px;
    font-family: "Raleway", sans-serif;
    margin-left: 87px;
    font-weight: 100
}

header .banner a {
    padding: 10px 32px;
    background: #00b1e4;
    border: 2px solid #00b1e4;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #FFF;
    margin-left: 87px
}

header .banner a:hover {
    color: #00b1e4;
    background: none;
    transition: 0.5s
}

/* End Banner */

/* Start Main */
main .section-1 {
    margin-top: 55px;
    text-align: center;
}

main .section-1 .welcome h1 {
    font-family: "Raleway", sans-serif;
    ;
    margin-bottom: 15px;
    font-size: 32px;
    color: #071e33
}

main .section-1 .welcome .border {
    height: 2px;
    width: 75px;
    margin-right: 10px;
    background: #00b1e4;
    margin: auto
}

main .section-1 .welcome p {
    color: #333;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px
}

main .section-1 img {
    width: 540px;
    height: 434px;
    float: left;
    margin-top: 35px
}

main .section-1 .row {
    float: right;
    width: 52%;
    margin-top: 50px
}

main .section-1 .row h4 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-align: left
}

main .section-1 .row #p-1 {
    color: #555;
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
    text-align: left;
    margin-top: 25px
}

main .section-1 .row #p-2 {
    line-height: 26px;
    color: #444;
    padding-top: 30px;
    text-align: left;
    width: 540px
}

main .section-1 .row ul {
    text-align: left;
    margin-top: 50px
}

main .section-1 .row ul li {
    margin-top: 25px;
    color: #444;
    list-style: none;
    margin-left:
}

main .section-1 .row ul span {
    width: 16px;
    height: 16px;
    border: 0.5px solid #00b1e4;
    border-radius: 50%;
    float: left;
    margin-right: 7px
}

main .section-1 .row ul li i {
    color: #00b1e4;
    font-size: 9px;
    margin-left: 3px;
    margin-bottom: 3px
}

main .section-2 {
    margin-top: 80px
}

main .section-2 .services h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
    font-size: 32px;
    color: #071e33;
    text-align: center
}

main .section-2 .services p {
    color: #333;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    text-align: center;
    line-height: 25px;
    font-size: 17px
}

main .section-2 .services .border {
    height: 2px;
    width: 75px;
    margin-right: 10px;
    background: #00b1e4;
    margin: auto
}

main .section-2 article {
    width: 335px;
    height: 295px;
    text-align: center;
    border: 1px solid #dedede;
    margin-top: 35px;
    float: left;
    margin: 35px 20px
}

main .section-2 article:hover {
    transition: 1s;
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

main .section-2 article img {
    width: 120px;
    height: 85px;
    margin-top: 25px
}

main .section-2 article a {
    display: block;
    margin-top: 15px;
    color: #444;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
}

main .section-2 article p {
    font-size: 14px;
    color: #444;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 0 30px;
    margin-top: 15px
}

main .section-3 {
    margin-top: 80px;
    text-align: center
}

main .section-3 .client h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
    font-size: 32px;
    color: #071e33;
    text-align: center
}

main .section-3 .client p {
    color: #333;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    text-align: center;
    line-height: 25px;
    font-size: 17px
}

main .section-3 .client .border {
    height: 2px;
    width: 75px;
    margin-right: 10px;
    background: #00b1e4;
    margin: auto
}

main .section-3 .img img {
    width: 104px;
    height: 40px;
    margin: 20px 35px;
    opacity: 0.5
}

main .section-3 .img img:hover {
    opacity: 1
}

main .section-4 {
    margin-top: 80px;
    text-align: center
}

main .section-4 .testimonialz h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
    font-size: 32px;
    color: #071e33;
    text-align: center
}

main .section-4 .testimonialz p {
    color: #333;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    text-align: center;
    line-height: 25px;
    font-size: 17px
}

main .section-4 article {
    margin-top: 68px;
    width: 340px;
    height: 280px;
    display: inline-block;
    padding: 10px;
}

main .section-4 article .p {
    width: 245px;
    height: 110px;
    background: #f1f1f1;
    padding: 25px;
    border-radius: 15px 15px 0 15px;

    border: 1px solid #999
}

main .section-4 article .p p {
    font-size: 15px;
    color: #686868;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;

}

main .section-4 article h4 {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-size: 25px;
    margin-right: 23px
}

main .section-4 article .pp {
    font-size: 18px;
    color: #999;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;

}

main .section-4 .sc {
    width: 16px;
    height: 16px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-right: 35px;
    cursor: pointer
}

main .section-5 {
    height: 85px;
    background: #00b1e4;
    padding: 80px 0;
    margin-top: 50px;
}

main .section-5 h2 {
    font-size: 28px;
    color: #FFF;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    width: 78%
}

main .section-5 p {
    color: #FFF;
    margin-top: 15px;
    width: 75%;
    font-size: 18px;
    float: left;
    font-family: "Montserrat", sans-serif;
}

main .section-5 a {
    float: right;
    width: 15%;
    padding: 15px 20px;
    border: 3px solid #FFF;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

/*End Main*/
/*Start Footer*/
footer {
    background: #071e33;
    height: 108px;
    text-align: center;
    padding: 20px
}
footer p{
    color: #ffffffad;
    font-family: "Open Sans", sans-serif;
}
footer p span{
    font-size: 18px;
}
footer div p{
    
}
footer div a{
    display: inline;
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #00b1e4;
    margin-top: 15px
    
}