* {
    font-family: Proxima Nova, Helvetica Neue, Arial, sans-serif;
}

.container {
    margin: auto !important
}

.wrapper {
    margin: auto
}

/*Start Top-header*/
.top-header {
    background: #feee00
}

.top-header .our {
    height: 65px;
    line-height: 65px;
    overflow: hidden
}

.top-header .our img {
    margin: 0 30px
}

.top-header .our input {
    width: 63%;
    border-style: hidden;
    height: 36px;
    margin: 0 35px;
    padding: 12px 15px
}

.top-header .our .fa-search {
    margin-left: -62px;
    z-index: 10
}

.top-header .our .a-1 {
    margin-left: 20px;
    color: #404553;
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid rgba(64, 69, 83, 0.37);
    transition: all .5s ease-in-out
}

.top-header .our .a-2 {
    color: #404553;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    transition: all .5s ease-in-out
}

.top-header .our .a-2 i {
    font-size: 19px
}

.top-header .our .a-1:hover,
.top-header .our .a-2:hover {
    color: rgba(84, 99, 140, 0.56);
    text-decoration: none
}

.top-header #navbar-2 {
    height: 48px;
    background: #fcfbf4;
    flex-grow: 1
}

.top-header #navbar-2 .dropdown-toggle {
    margin: 0 35px
}

.top-header #navbar-2 ul li {
    padding: 0 27px;
}

.top-header #navbar-2 ul li a {
    color: #404553;
    font-size: 14px;
    font-weight: bold;
}
.navbar-2 ul li {
    margin: 0 15px !important
}

/*End Top-header*/

/*Start Header*/

header .banner {
    padding: 50px 30px
}

header .banner a img {
    width: 100%;
    height: 100%
}

/*End Header*/
/*Start Main*/

/*Start Mobile Section*/
.head-section {
    position: relative;
}

.name-section {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #404553;

}

.shop-now {
    border: 1px solid rgb(56, 102, 223);
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    position: absolute;
    top: 0;
    right: 40px;
}

.card {
    display: inline-block;
    width: 181px;
    height: 410px;
    position: relative;

    left: 10px;
    padding: 0 10px;
    margin: auto !important;
    margin-left: 2px !important;
}




.card .p-img {
    width: 165px;
    height: 225px;
    margin-top: 10px
}

.card .s-img {
    position: absolute;
    right: 110px;
    top: 5px
}

.card .disscond {
    font-size: 11px;
    background: #3866df;
    padding-left: 3px;
    width: 130px;
    margin-left: 5px;
    color: #FFF;
    font-weight: bold
}

.card .name {
    font-size: 10px;
    color: #7e859b;
    padding-bottom: 3px
}

.card .info {
    font-size: 12px;
    color: #404553;
    font-weight: bold;
    height: 18px
}

.seel {
    font-size: 11px;
    color: rgb(126, 133, 155);
    font-weight: bold;
    text-decoration: line-through;
    display: block;
    height: 19px;
}

.seel p {
    font-size: 11px;
    background: rgba(56, 174, 4, 0.25);
    color: rgb(38, 124, 0);
    display: inline-block;
    padding: 1px 3px;
    margin-left: 8px
}

.card .price {
    font-size: 20px;
    color: #1e2129;
    font-weight: bold;
    margin-bottom: 20px !important;

    position: absolute;
    top: 345px
}

.card .add {
    border: 1px solid rgb(56, 102, 223);
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 45px;
    position: absolute;
    top: 375px;
}

.card .add:hover {
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

.tap {
    width: 50px !important;
    height: 50px !important;
    background: #333;
    top: 180px;
}

main .carousel {
    height: 430px !important;
    overflow: hidden;
    margin-top: 30px;
    padding: 15px;
    margin-bottom: 50px
}

.card .click {
    text-decoration: none
}

/*.click-offer {
    padding: 0 !important;
    width: 445px;
    height: 191px;
    background: #DDD
}*/

.offer-1 {
    width: 455px;
    height: 206px;
    padding: 20px;
    display: block;
    margin-top: 50px;
    position: relative
}

.offer-1 .overlay:hover {
    background: rgba(255, 255, 255, 0.37);
}

.offer-1 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: all .5s ease-in-out
}

.offer-1 .content-l {
    float: left;
    width: 192px
}

.offer-1 .content-l p {
    font-size: 18px;
    font-weight: bold;
    color: #404553;
    margin-bottom: 7px
}

.offer-1 .content-l span {
    font-size: 17px;
    color: #404553;
    text-decoration: line-through
}

.offer-1 .content-l strong {
    display: block;
    font-size: 25px;
    color: #404553;
    margin-bottom: 15px;

}

.offer-1 .content-l a {
    border: 1px solid black;
    padding: 7px 9px;
    color: black;
    margin-top: 20px
}

.offer-1 .content-r {
    float: right;
    height: 191px;
    width: 222px
}

.offer-1 .content-r img {
    height: 100%;
    width: 100%;
}

.Offers {
    margin-bottom: 30px
}

.Offers .overlay-1 {
    width: 455px;
    height: 206px;
    position: absolute;
    top: 206px;
    transition: all .5s ease-in-out
}

.Offers .overlay-1:hover {
    background: rgba(255, 255, 255, 0.22)
}

.Offers .overlay-2 {
    width: 455px;
    height: 206px;
    position: absolute;
    top: 206px;
    left: 920px;
    transition: all .5s ease-in-out
}

.Offers .overlay-2:hover {
    background: rgba(255, 255, 255, 0.22)
}

.catogreis-1 {
    margin: 45px 0
}

.catogreis-1 .row {
    padding: 0 20px !important
}

.catogreis-1 .banner-catogri {
    padding: 0 8px !important
}

.catogreis-1 .contant {
    width: 303px;
    height: 278px
}

.catogreis-1 .contant img {
    width: 100%;
    height: 100%
}

.banner-deauty .contant-b img,
.banner-deauty .contant-t img {
    width: 100%;
    height: 100%
}

.banner-deauty .contant-t {
    margin-top: 30px
}

.banner-deauty .bb {
    height: 480px
}

.end-banner img {
    width: 100%;
    height: 100%
}

.end-banner .conteent {
    margin-left: 10px
}

footer .top-footer {
    min-height: 86px;
    background: #F7F9FE;
    border-bottom: 1px solid #e2e5f1;
    margin-bottom: 25px
}

footer .top-footer .r-r span {
    position: absolute;
    top: 28px;
    background: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    left: -30px;
    border: 1px solid rgba(46, 45, 45, 0.46)
}

footer .top-footer .r-r a:hover {
    text-decoration: none;
}

footer .top-footer .r-r span i {
    line-height: 36px;
    margin-left: 9px;
}

footer .top-footer .l-l h5 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;

}

footer .top-footer .l-l p {
    font-size: 11px;

}

footer .top-footer .r-r p {
    margin-bottom: 0 !important;
    margin-top: 20px;
    color: #7e859b;
    text-transform: uppercase;
    font-size: 11px
}

footer .top-footer .r-r h4 {
    font-weight: 600;
    font-size: 15px;
    color: #404553;
    margin-top: 7px
}

footer .content ul li {
    list-style: none;
    font-size: 13px;
    color: #404553 !important;
    padding: 10px 0
}

footer .content ul li a {

    color: #404553 !important
}

footer .end-content p {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase
}

footer .end-content a {
    margin-left: 50px;
}

footer .end-content a img {
    width: 140px;
    height: 50px;
}

footer .contact span {
    position: absolute;
    top: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #feee00;
}

footer .contact span i {
    font-size: 20px;
    line-height: 45px;
    margin-left: 17px;
    color: #404553
}
